# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
.env

# Data
data/*.csv
data/*.parquet
data/*.duckdb
data/*.jsonl
data/cache/*.index
*.pkl
data/graphs/*.pkl

# Logs
src/logs/*.log
**/.log

# Notebooks
.ipynb_checkpoints

# LaTeX
*.aux
*.bbl
*.blg
docs/latex/**/*.log
*.out
*.toc
*.synctex.gz

# VS Code
.vscode/

# Mac
.DS_Store
EOF