duckdb==1.2.0
faiss-cpu==1.10.0
markdownify==0.14.1
matplotlib==3.10.0
numpy==2.2.2
pandas==2.2.3
pre_commit==4.1.0
pydantic==2.10.6
pydantic_core==2.27.2
python-dotenv==1.0.1
sentence-transformers==3.4.1
smolagents[litellm]==1.9.2
sqlglot==26.6.0
sqlglotrs==0.3.14
tqdm==4.67.1
transformers==4.48.3

